{% extends 'base.html' %}
{% block title %}
    <title>ありがとうございます</title>
{% endblock %}
{% block body %}
    <div class="container">
        <h2>仮登録完了</h2>
        <p>仮登録ありがとうございます<br>
        ご入力いただいたメールアドレスに<br>
        出欠登録用のURLを記載したメールを送付しております</p>
        <p>30分以上たっても届かない場合は<br>
        ご登録いただいたメールアドレスが<br>
        間違っている可能性がございますので<br>
        再度ご登録をお願いいたします</p>
        <p>その他ご不明点等ございましたら<br>
        下記のメールアドレスまでお問い合わせください</p>
        <br>
        <p>問い合わせ先：info@example.co.jp</p>
    </div>
{% endblock %}