{% extends 'base.html' %}
{% block title %}
<title>ユーザー登録</title>
{% endblock %}

{% block body %}
<div class="container">
    <header>
        <div class="row">
            <div class="col-sm-6">
                <h1>ユーザー登録</h1>    
            </div>
        </div>
    </header>
</div>

<form  method="post">
    <label for="">ユーザー名</label>
    <input type="text" name="username">
    <label for="">パスワード</label>
    <input type="password" name="password">
    <input type="submit" value="新規登録">
</form>

<br>
{% endblock %}